* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  --blackest: #965314;
  --black: #141d26;
  --navy: #243447;
  --pink: #c51f5d;
  --dark-pink: #8d1642;
  --white: white;
}

h3 {
  font-size: 1rem;
}

li {
  list-style: none;
}

.all-file {
  display: grid;
  grid-template:
    "header header header" 70px
    "left main right" 1fr /
    200px 1fr 230px;
}

/* LOGIN */
.main-wrapper {
  display: grid;
  position: relative;
  grid-template-columns: 250px 2fr;
  max-width: 1440px;
  margin: 12rem 35rem;
  z-index: 10;
  box-shadow: var(--main-shadow);
}

.main-wrapper .login {
  grid-template-columns: minmax(300px, 600px);
  place-content: center;
  background-color: transparent;
  box-shadow: none;
}

.login-section {
  background-color: white;
  padding: 1rem;
  box-shadow: var(--main-shadow);
  place-items: center;
  background-color: rgb(233, 205, 181);
}

.login-section h1 {
  display: grid;
  place-items: center;
  color: white;
}

.login-section h2 {
  margin: 1rem 0 1.5rem;
  display: grid;
  place-items: center;
  color: white;
}

.login-section li {
  border-top: 1px solid var(--borders);
  padding: 0.5rem 0;
}

.login-section li button {
  background-color: #965314;
  border: none;
  color: white;
}

.login-section li button:hover {
  background-color: rgb(233, 205, 181);
  color: #965314;
}

.user-selection {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: left;
  gap: 2rem;
}

/* HEADER */
.header-top {
  grid-area: header;
  display: grid;
  gap: 10px;
  grid-template-columns: 30px 1fr 150px 200px 200px;
  background-color: var(--blackest);
  padding: 15px;
  color: white;
}

.header-profile {
  display: grid;
  grid-template-columns: 50px 50px 100px;
}

.logo {
  width: 30px;
  height: 30px;
}

.search-header {
  border-radius: 15px;
  border-color: white;
  background-color: rgb(233, 205, 181);
}

/* LEFT MENU */

.left-menu {
  grid-area: left;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 15px;
  gap: 25px;
  color: #965314;
  background-color: rgb(233, 205, 181);
}

.genres-filter-list {
  list-style: none;
}

.genres-filter-list li {
  margin: 10px;
}

.left-menu input {
  margin-left: 10px;
}

.left-menu button {
  color: #965314;
  padding: 5px;
  border-radius: 10px;
}

.left-menu h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

/* MAIN-MENU  */

.main-section {
  height: 100%;
  width: 100%;
  grid-area: main;
  padding: 20px;
}

.top-section {
  height: 100vh;
  overflow: scroll;
}

.main-section .list-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, auto));
  list-style: none;
  gap: 30px;
  overflow: scroll;
}

.card-image {
  max-width: 100%;
  object-fit: cover;
  margin-top: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.card {
  padding: 8px;
  border-radius: 8px;
  border-color: #965314;
  text-align: center;
  background-color: white;
  height: 100%;
}

.card li:hover {
  border-color: #965314;
}

/* .card button {
  height: 33px;
  width: 33px;
  border-radius: 50%;
  background-color: var(--dark-pink);
  color: var(--white);
  padding: 3px 7px;
  margin-left: 10px;
} */

.card button:hover {
  background-color: #965314;
  color: white;
}

.card button:active {
  background-color: #965314;
  color: white;
}

.favourite {
  width: 1rem;
  height: 1rem;
}

/* RIGHT MENU */

.right-menu {
  grid-area: right;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 25px;
  background-color: rgb(233, 205, 181);
  padding: 20px;
}

.right-menu h2 {
  color: var(--blackest);
}

.biography-list li {
  margin: 5px;
}

.biography-list li button {
  background-color: rgb(233, 205, 181);
  padding: 8px;
  color: var(--blackest);
  font-style: unset;
  font-weight: bolder;
  border: none;
  font-size: 16px;
}

.biography-list li button:hover {
  background-color: var(--blackest);
  color: white;
}

/* AUTHORPAGE */

.author-name-image {
  margin: 20px;
}

.author-biography {
  margin: 20px;
}

.add-button {
  padding: 5px;
  margin-top: 5px;
  border-radius: 15px;
  margin-right: 5px;
  background-color: rgb(233, 205, 181);
}

.remove-button {
  border-radius: 100%;
  padding: 5px;
  background-color: rgb(233, 205, 181);
}

.favourite-readButton {
  padding: 10px;
  background-color: rgb(233, 205, 181);
  border: none;
}

.favourite-readButton:hover {
  padding: 10px;
  color: white;
}

.logout-button {
  background-color: rgb(233, 205, 181);
  border: none;
}

.logout-button:hover {
  color: white;
}

/* FAVOURITE READ PAGE */

.favourite-read {
  display: grid;
  grid-template:
    "header header header" 70px
    "left main right" 1fr /
    100px 1fr 230px;
}

/* .favourite-header header {
  grid-area: header;
  display: grid;
  gap: 10px;
  grid-template-columns: 30px 1fr 150px 200px 200px;
  background-color: var(--blackest);
  padding: 15px;
  color: white;
} */

.favourite-read .favourite-list {
  display: main;
}

.favourite-read .read-list {
  display: right;
}

.favourite-read h2 {
  font-size: 15px;
  margin: 2px;
}

.favourite-read li {
  margin: 20px;
  border: 1px solid var(--blackest);
}

.patoto {
  display: grid;
  grid-auto-flow: column;
}

.patoto h2 {
  font-size: 18px;
  margin: 5px;
}

.patoto .add-button {
  margin: 15px;
}

.patoto .remove-button {
  margin: 15px;
}

.detail-page-card {
  margin: 10px 30px;
}

.detail-page-card button {
  padding: 10px;
  background-color: rgb(233, 205, 181);
  border: none;
}

.detail-page-card button a {
  color: black;
}
